/*-- scss:defaults --*/

// Define palette
$light-purple: #B7A0CD;
$light-pink: #F5B6D0;
$dark-yellow: #E9C062;
$mint: #C0FFDE;
$blue: #96CBFE;
$dark-purple: #5A5475;
$dark-pink: #E3837D;
$light-yellow: #FAF58A;
$gray-100: #f8f9fa;
$gray-500: #aaaaaa;
$gray-700: #5a5a5a;
$gray-800: #343a40;
$white: #FFFFFF;

// Define roles
$primary: $light-purple;
$secondary: $light-pink;
$none: $dark-yellow;
$success: $mint;
$none: $blue;
$none: $dark-purple;
$danger: $dark-pink;
$warning: $light-yellow;
$light: $gray-100;
$gray: $gray-500;
$text_color: $gray-700;
$dark: $gray-800;
$background: $white;

